<app-block [show]="requisicao"></app-block>
<div class="p-grid forms-grid lista">
  <div class="p-offset-1 p-col-10">
    <p-card header="Lista de médicos cadastrados" subheader="Médicos" styleClass="ui-card-shadow">

      <div class="p-grid">
        <div class="p-col-11 p-sm-10 p-md-10 p-lg-11">
          <ng-container *ngIf="medicos$ | async as medicos; else loading">

            <p-table #medicoTable [columns]="colunas" [paginator]="true" [resizableColumns]="true" [responsive]="true" [rows]="5" [showCurrentPageReport]="true" [value]="medicos" selectionMode="single" dataKey="id" (onRowSelect)="rowSelect($event)" (onRowUnselect)="rowUnSelect($event)">
              <ng-template pTemplate="header" let-colunas>
                <tr>
                  <th *ngFor="let coluna of colunas" [ngSwitch]="coluna.field">
                    {{coluna.header}}
                    <br *ngSwitchCase="'nome'"><input *ngSwitchCase="'nome'" pInputText type="text" (input)="medicoTable.filter($event.target.value, coluna.field, 'contains')">
                    <br *ngSwitchCase="'crm'"><input pInputText *ngSwitchCase="'crm'" mask='999999/aa' (input)="medicoTable.filter($event.target.value, coluna.field, 'contains')">
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-medico>
                <tr [pSelectableRow]="medico">
                  <td>{{medico.nome}}</td>
                  <td>{{medico.crm | uppercase }}</td>
                  <td class="ui-p-4">
                    <ul class="especialidades">
                      <li *ngFor="let especialidade of medico.especialidades">
                        {{ especialidade.descricao | uppercase }}
                      </li>
                    </ul>
                  </td>
                  <td class="ui-p-3">{{medico.telefone | phone}}</td>
                </tr>
              </ng-template>

              <ng-template pTemplate="emptymessage">
                <tr>
                  <td class="vazia" [attr.colspan]="4">
                    Nenhum Registro cadastrado.
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </ng-container>

          <ng-template #loading>
            <div class="ui-g-12 loading">
              <div class="ui-g-2 ui-g-offset-5">
                <p><i class="pi pi-spin pi-spinner" style="font-size: 3em"></i></p>
                <p>Carregando Médicos...</p>
              </div>
            </div>
          </ng-template>
        </div>
        <div class="p-col-1 p-sm-2 p-md-2 p-lg-1">
          <button pButton type="button" icon="pi pi-plus" class="ui-button-info ui-button-raised ui-button-rounded actionButton" (click)="cadastrar()" pTooltip="Cadastrar Médico" tooltipPosition="top"></button>

          <button pButton type="button" icon="pi pi-pencil" class="ui-button-warning ui-button-raised ui-button-rounded actionButton" [ngClass]="{'esmaecer' : !btEditar}" (click)="editar()" pTooltip="Editar Médico Selecionado" tooltipPosition="top"></button>

          <button pButton type="button" icon="pi pi-trash" class="ui-button-danger ui-button-raised ui-button-rounded actionButton" [ngClass]="{'esmaecer' : !btDeletar}" (click)="deletar()" pTooltip="Remover Médico Selecionado" tooltipPosition="top"></button>
        </div>
      </div>


    </p-card>
  </div>
</div>